{ 
	"commitCount": "{{.CommitCount}}",
	"branch": "{{.Branch}}",
	"repoLink": "{{.RepoLink}}",
	"branchName": "{{.BranchName}}",
	"commits": [
		{{range $index, $r:= List .Commits}}
		{{if and ($r) (gt $index 0)}},{{end}}{
		"userFullName": "{{.User.FullName}}",
			"authorName": "{{.Author.Name}}",
			"authorEmail": "{{.Author.Email}}",
			"ID": "{{.ID}}",
			"Summary": "{{.Summary}}",
			"authorWhen": "{{.Author.When}}"
		}
		{{end}}
	]
}
