{
	"latest": "{{.LatestCommit.ID}}",
	"data": [
{{range $index, $item := .Files}}
{{if $index}},{{end}}{
	{{$entry := index $item 0}}
	{{$commit := index $item 1}}
	"item": "{{$item}}",
	"name": "{{$entry.Name}}",
	"isDir": "{{$entry.IsDir}}",
	"IsSubModule": "{{$entry.IsSubModule}}",
	"jumpPathName": "{{$entry.GetSubJumpablePathName}}", 
	"TreeLink": "{{EscapePound $.TreeLink}}"
}
{{end}}
	]
}
