<form>
    <div class="form-group">
        <label for="user">Add new member to <%= orgName %>: </label>
        <input type="text" class="form-control" name="user" id="user">
    </div>
    <input type="submit" id="submit" class="btn btn-dark" value="Add user">
</form>
<p id="response"></p>
