<div>
    <h4>The Study Store</h4>
</div>
<nav class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/dashboard">Dashboard</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/create/highway_model">Create New Highway Model</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/settings/password-update">Change Password</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="http://localhost:3000/admin">Admin</a>
    </li>
</nav>