<nav>
    <a href="/dashboard"><li>Dashboard</li></a>
    <a href="/create/repo"><li>Create Repo</li></a>
    <a href="/settings/password-update"><li>Change Password</li></a>
    <a href="http://localhost:3000/admin"><li>Admin</li></a>
</nav>