<form>
    <label for="old_password">Old Password: </label><input type="text" name="old_password" id="old_password">
    <label for="password">Password: </label><input type="text" name="password" id="password">
    <label for="retype">Retype: </label><input type="text" name="retype" id="retype">
    <input type="submit" id="submit">
</form>
<div id="response"></div>
