<h3>Change Password</h3>
<form>
    <div class="form-group">
        <label for="old_password">Old Password: </label>
        <input class="form-control"  type="text" name="old_password" id="old_password">
    </div>
    <div class="form-group">
        <label for="password">Password: </label>
        <input class="form-control"  type="text" name="password" id="password">
    </div>
    <div class="form-group">
        <label for="retype">Retype: </label>
        <input class="form-control"  type="text" name="retype" id="retype">
    </div>  
    <input type="submit" id="submit" class="btn btn-dark">
</form>
<div id="response"></div>
