<form>
    <label for="user_name">Username or email: </label><input id="user_name" type="text" name="user_name" required>
    <label for="password">Password: </label><input id="password" type="password" name="password">
    <input type="submit" id="submit">
</form>
<div id='responseText'></div>
