<div class="alert alert-danger container p-3" role="alert">
    <h3>Opps you don't seem to be logged in</h3>
    <p><a href="/login">Click to log in </a><br><a href="/admin">Or sign up here</a></p>
</div>