<div class="row mb-4">
    <div class="col">
        <h1 id="model-name"></h1>
    </div>
    <div class="col" id="col-right">
        
    </div>
</div>
<ul id="projectsList"></ul>
<a href="/projects/<%=name%>/<%=branch%>/upload" id='upload-button'><button class="btn btn-dark">Add new file</button></a>